<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SqlConnStr" value="data source=LAW-ZOL\LAW;initial catalog=TC_VPMIS;persist security info=False;user id=sa;password=123;workstation id=TcStar;packet size=4096;Connect TimeOut=1200"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=LAW-ZOL\LAW;database=TC_VPMIS;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    <add name="MasterConnStr" connectionString="server=LAW-ZOL\LAW;database=TC_VPMIS;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
